---
---

@import "{{ site.theme }}";

body {
  background-color: #000;
  background-image: url("../img/stars_galaxies_1920.jpg");
  background-repeat: repeat;

  color:#eeeeee;
}

a {
  color:#ffa500;
}

a:hover, a:focus {
  color:#b27300;
}

a small {
  color:#777;
}

a:hover small {
  color:#777;
}
